<%!
from django.utils.translation import ugettext as _
from util.markup import format_html
%>
<%inherit file="base.html" />
<%block name="title">${_("Page Not Found")}</%block>
<%block name="bodyclass">view-util util-404</%block>


<%block name="content">
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_("Page not found")}</h1>
    </header>
    <article class="content-primary" role="main">
      <p>${_('The page that you were looking for was not found.')}
        ${format_html(_('Go back to the {link_start}home page{link_end} or let us know about any pages that may have been moved at {email}.'),
            link_start='<a href="/">',
            link_end='</a>',
            email=u'<a href="mailto:{address}">{address}</a>'.format(
                address=settings.TECH_SUPPORT_EMAIL,
            )) | n}
      </p>
    </article>
  </section>
</div>
</%block>
